<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>370328077829-4ei8ihah3h21qdth5ut4qqd1ulaka6nv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.370328077829-4ei8ihah3h21qdth5ut4qqd1ulaka6nv</string>
	<key>API_KEY</key>
	<string>AIzaSyC9StaY_aWtZ8SV20SnX3IEBlNug1HfZf8</string>
	<key>GCM_SENDER_ID</key>
	<string>370328077829</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.khalisfoundation.gurmukhi-games</string>
	<key>PROJECT_ID</key>
	<string>sikh-games</string>
	<key>STORAGE_BUCKET</key>
	<string>sikh-games.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:370328077829:ios:77b8737d449ddfa1bf3e6c</string>
</dict>
</plist>